.tableContainer {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 325px;
  width: 100%;
  user-select: none;
}

.thead-hide {
  opacity: 0;
  border: 0 none;
  height: 0;

  & * {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 none !important;
    height: 0px !important;
    line-height: 0 !important;
  }
}

.header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  height: 36px;
  font-size: 14px;

  & > th {
    text-align: start;
    font-weight: 400;
    padding: 0 16px;
  }
}

.tbody {
  &::before {
    content: '@';
    display: block;
    line-height: var(--tbody-gap);
    text-indent: -99999px;
  }
}

.index {
  position: relative;
  width: 32px;
  text-align: left;

  &Span {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.songRow {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  z-index: 2;

  @media (hover: none) {
    & a {
      pointer-events: none;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);

    &:not(.disabled) {
      & .player,
      .playerOnImageWrapper {
        opacity: 1;
      }

      & .indexSpan {
        opacity: 0;
      }
    }

    & .moreButton {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &.disabled {
    opacity: 0.35;
  }

  &.isPlaying {
    & .player,
    .playerOnImageWrapper {
      opacity: 1;
    }

    & .indexSpan {
      opacity: 0;
    }
  }

  & > td {
    height: 55.5px;
    padding: 0 16px;
  }
}

.tdTitle {
  width: 45%;
}

.player {
  opacity: 0;
  color: #fff;
  transform: translateX(-4px);
  position: relative;
  z-index: 2;

  &:focus-visible {
    opacity: 1;

    & + .indexSpan {
      opacity: 0;
    }
  }
}

.playerOnImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  opacity: 0;

  & > button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
  }
}

.thDurationWrapper {
  width: max-content;
  margin-left: auto;
  margin-right: 50px;
}

.tdDuration {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tdAlbum {
  &Wrapper {
    overflow: hidden;
    padding: 3px;
  }

  &Anchor {
    display: block;
    max-width: 100%;
    width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.likeButton {
  margin-right: 20px;

  &--breakpoint-1 {
    margin-right: 5px;
  }
}

.moreButton {
  margin-left: 16px;
  height: 100%;
  opacity: 0;

  @media (pointer: coarse) {
    opacity: 1;
  }
}
