.button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  background-color: #1ed760;
  color: #000;
  border-radius: 50%;
  transition: transform 300ms, opacity 300ms;

  &:hover,
  &:focus-visible {
    background-color: #1fdf64;
    transform: scale(1.04) !important;
  }

  &Icon {
    transform: scale(1.3);
  }
}
