.header {
  background-color: #181818 !important;
}

.bannerBackground {
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 335px;
}

.banner {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 325px;
  margin-top: -64px;

  &Heading {
    font-size: 6rem;
  }

  &Followers {
    margin-top: 30px;
    margin-bottom: 24px;
  }

  &Image {
    border-radius: 6px;
    margin-right: 30px;
    width: 255px;
    height: 255px;
    object-fit: cover;
  }
}

.popularSongsSeeMoreButton {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 700;
  padding: 16px;

  &:hover {
    color: #fff;
  }
}
