.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.image {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;

  &Track {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }

  &Artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 5px;
  }
}
