:root {
  --clr-tooltip-bg: #282828;
  --clr-tooltip-text: #fff;
  --layout-gap: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
}

body {
  background-color: #000;
  color: #b3b3b3;
  padding: 8px;
  height: 100vh;
  display: grid;
  flex-direction: column;
  overflow: hidden;
  grid-template-areas:
    'sidebar main'
    'player player';

  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 72px;
}

.mainContentContainer {
  padding-left: 24px;
  padding-right: 24px;
  flex-grow: 1;
  grid-area: main;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
}

.player {
  grid-area: player;
}

.roundedContainer {
  background-color: #121212;
  border-radius: 8px;
}

.textButton {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  color: rgb(192, 192, 192);
  transition: color 200ms;
  cursor: pointer;

  &:hover,
  &Active {
    color: rgb(255, 255, 255);
  }
}

.layoutMainContent {
  display: flex;
}
