.container {
  position: relative;
  background-color: #181818;
  border-radius: 6px;
  transition: background-color 300ms;

  &:hover {
    background-color: #282828;

    & > .button {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(8px);
  opacity: 0;

  &:focus-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

