.sidebar {
  overflow: hidden;
  position: relative;
  margin-right: var(--layout-gap);
  display: flex;
  flex-direction: column;
  width: 72px;

  &.expanded {
    width: 280px;

    .sidebarExpandButtonText {
      display: initial;
    }

    .navLinkText {
      display: initial;
    }

    .navLink {
      width: 100%;
    }
  }

  @media (max-width: 575px) {
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
  }
}

.resize {
  position: absolute;
  top: 0;
  right: -4px;
  width: 10px;
  height: 100%;
  cursor: e-resize;

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    margin-left: 5px;
  }

  &:hover,
  &.active {
    &::before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 13px;

  &LinkText {
    display: none;
  }

  &Icon {
    transform: scale(0.6);

    &Search {
      transform: scale(0.5);
    }
  }

  @media (max-width: 575px) {
    flex-direction: row;
    padding: 0;
    background: none;

    &Link {
      flex-direction: column;
    }

    &LinkText {
      display: initial !important;
      font-size: 0.8em;
      font-weight: 500;
      line-height: 1;
    }
  }
}

.library {
  flex-grow: 1;
  margin-top: var(--layout-gap);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 4px;
  overflow: hidden;

  @media (max-width: 575px) {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
    width: auto;
    flex-grow: initial;
    height: 100%;
  }

  &ItemsWrapper {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    &::-webkit-scrollbar {
      width: 3px;

      &-thumb {
        border-radius: 100vw;
        background: none;
      }
    }

    @media (max-width: 575px) {
      display: none;
    }
  }
}
.sidebarExpandButtonWrapper {
  margin-bottom: 15px;
  margin-left: 14px;

  @media (max-width: 575px) {
    margin: 0;
    height: 100%;
  }
}

.sidebarExpandButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  font-size: 16px;

  &Text {
    display: none;
    margin-left: 15px;
  }

  & > svg {
    flex-shrink: 0;
    transform: scale(1.3);
  }

  @media (max-width: 575px) {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    padding-top: 12px;

    &Text {
      display: initial !important;
      font-size: 0.8em;
      font-weight: 500;
      line-height: 1;
      white-space: nowrap;
      margin-left: 0;
    }
  }
}
