.sidebar {
  display: flex;
  flex-direction: column;
  width: 72px;
  margin-right: 8px;
}

.nav {
  padding: 7px 8px;

  &Icon {
    transform: scale(0.6);

    &Search {
      transform: scale(0.5);
    }
  }
}

.library {
  flex-grow: 1;
  margin-top: 8px;
}
