.sidebar {
  overflow: hidden;
  position: relative;
  margin-right: var(--layout-gap);
  display: flex;
  flex-direction: column;
  width: 72px;

  &.expanded {
    width: 280px;

    .sidebarExpandButtonText {
      display: initial;
    }

    .navLinkText {
      display: initial;
    }
  }
}

.resize {
  position: absolute;
  top: 0;
  right: -4px;
  width: 10px;
  height: 100%;
  cursor: e-resize;

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    margin-left: 5px;
  }

  &:hover,
  &.active {
    &::before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 13px;

  &LinkText {
    display: none;
  }

  &Icon {
    transform: scale(0.6);

    &Search {
      transform: scale(0.5);
    }
  }
}

.library {
  flex-grow: 1;
  margin-top: var(--layout-gap);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 4px;
  overflow: hidden;

  &ItemsWrapper {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    &::-webkit-scrollbar {
      width: 3px;

      &-thumb {
        border-radius: 100vw;
        background: none;
      }
    }
  }

  &ItemTooltipText {
    &Sub {
      margin-top: 4px;
      color: #a7a7a7;
      font-size: 14px;
    }
  }

  &ItemText {
    display: none;
    margin-left: 10px;

    &Name {
      color: #fff;
    }
  }

  &ItemAnchorWrapper {
    width: 100%;
  }

  &ItemAnchor {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    min-width: 64px;
    width: 100%;
    height: 64px;
    border-radius: 6px;
    transition: background-color 200ms;

    &:hover,
    &:focus-visible {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &ItemImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 48px;
    height: 48px;
  }

  &ItemImage {
    border-radius: 4px;
  }
}
.sidebarExpandButtonWrapper {
  margin-bottom: 15px;
  margin-left: 14px;
}

.sidebarExpandButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  font-size: 16px;

  &Text {
    display: none;
    margin-left: 15px;
  }

  & > svg {
    transform: scale(1.3);
  }
}
