.buttonLike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;

  &--large {
    width: 55px;
    height: 55px;
  }
}

.icon {
  width: 50%;
  height: 50%;

  &Fill {
    color: rgb(30, 215, 96);
  }
}
