.container {
  display: flex;
  align-items: center;
  padding: 7px 8px 0 8px;
}

.trackImage {
  width: 56px !important;
  height: 56px !important;
  border-radius: 5px;
}

.trackName {
  font-size: 13px !important;
}

.trackArtist {
  font-size: 11px !important;
}

.left,
.volume {
  width: 30%;
}

.left {
  display: flex;
  align-items: center;

  @media (max-width: 750px) {
    width: 0;
    flex-grow: 1;
    max-width: 250px;
    min-width: 200px;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 300px;

  &Top {
    display: flex;
  }

  @media (max-width: 750px) {
    min-width: initial;
    max-width: 300px;
    width: 0;
    flex-grow: 1;
    margin-right: 20px;

    &Top {
      margin-bottom: 9px;
    }
  }
}

.volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > *:not(:last-child) {
    margin-right: 7px;
  }

  &Range {
    margin-top: 2px;
    width: 93px;
    accent-color: #fff;
    height: 5px;
    cursor: pointer;
  }

  @media (max-width: 750px) {
    position: relative;
    display: block;
    margin-left: auto;
    width: auto;
    margin-left: auto;

    @media (pointer: fine) {
      &:hover {
        & > .volumeRangeWrapper {
          display: block;
        }
      }
    }

    .volumeRangeWrapper {
      background-color: #121212;
      padding: 10px 10px 10px 10px;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
      transform: translate(-50%, -100%);
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      border: 1px solid #000;
      display: none;
      z-index: 2;
    }
    .volumeRange {
      appearance: slider-vertical;
      height: 93px;
      width: 5px;
    }
  }
}

.likeButton {
  margin-left: 8px;

  @media (max-width: 750px) {
    margin-left: 2px;
    padding: 5px !important;
  }
}

.buttonSkip {
  &Icon {
    transform: scale(1.2);
  }
}

.buttonPlay {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #000;
  margin: 0 20px;
  cursor: pointer;
}

.playback {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  font-size: 12px;

  &Range {
    accent-color: #fff;
    width: 100%;
    margin: 0 10px;
    height: 5px;

    &:hover {
      accent-color: rgb(29, 185, 84);
    }
  }

  @media (max-width: 750px) {
    position: relative;

    &TimerCurrent, &Duration {
      position: absolute;
      top: -5px;
      transform: translateY(-100%);
    }

    &TimerCurrent {
      left: 0;
    }

    &Duration {
      right: 0;
    }

    &Range {
      margin: 0;
    }
    
  }


}
