.searchbarContainer {
  width: 364px;
}

.formContainer {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  height: 48px;
}

.input {
  font-family: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 100vw;
  padding: 6px 36px;
  background-color: #242424;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: #2a2a2a;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.2);
    outline: none;
  }
}

.searchButton,
.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton {
  position: absolute;
  left: -4px;
  transform: scale(0.35);
}

.clearButtonWrapper {
  position: absolute !important;
  right: 7px;
}

.clearButton {
}
