.nav {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
}

.contentWrapper {
  margin: 0 auto;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.72em;
  font-weight: 500;
  letter-spacing: 0.2px;

  &.active {
    color: #fff;
  }
}

.icon {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  color: #fff;
}
